<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Andrew Riefenstahl</h1>
              <span class="subheading font-kalam">A Fun Guy</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-sm">
                        <img
                          src="https://www.eharmony.co.uk/dating-advice/wp-content/uploads/2014/09/meetonline.jpg"
                          alt="..."
                          class="img-thumbnail"
                        />
                      </div>
                      <div class="col-sm">
                        <p class="lead">
                          Vivamus sagittis lacus vel augue laoreet rutrum
                          faucibus dolor auctor. Duis mollis, est non commodo
                          luctus.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <hr />

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
